<header>
	<nav>
		<a href="/">AD Contingut Detector</a>
		<ul>
			<li>
				<a href="/profesores">Profesores</a>
				
			</li>
			<li>
				<a href="/profesores/alta">Alta de profesores</a>

			</li>
			<li>
				<a href="/cursos">Cursos</a>

			</li>
			<li>
				<a href="/cursos/alta">Alta de Cursos</a>

			</li>
			<li>
				<a href="/profesores_cursos/alta">Alta de Profesores, Cursos y Asignaturas</a>

			</li>
		</ul>
	</nav>
</header>