<header>
	<nav>
		<a href="/">AD Contingut Detector</a>
		<ul>
			<li>
				<a href="/profesores">Profesores</a>
				
			</li>
			<li>
				<a href="/profesores/alta">Alta de profesores</a>

			</li>
			<li>
				<a href="/cursos">Cursos</a>

			</li>
			<li>
				<a href="/cursos/alta">Alta de Cursos</a>

			</li>
			<li>
				<a href="/profesores_cursos/alta">Alta de Profesores, Cursos y Asignaturas</a>

			</li>
			<li>
				<a href="/procesos">Procesos</a>

			</li>
			<li>
				<a href="/procesos/alta">Alta de Procesos</a>

			</li>
			<li>
				<a href="/operaciones">Operaciones</a>

			</li>
			<li>
				<a href="/operaciones/alta">Alta de Operaciones</a>

			</li>
		</ul>
	</nav>
</header>