<!DOCTYPE html>
<html>
<head>
    <title>AD Contingut Detector</title>

</head>
<body>

<%- include('../partials/header.ejs') %>
<%- include('../partials/errorMessage.ejs') %>
<%- body %>

</body>
</html>
