<div>
    <label>Nombre:</label>
    <input type="text" name="nombre" value="<%= profesor.name %>">
</div>
<div>
    <label>Apellidos:</label>
    <input type="text" name="apellidos" value="<%= profesor.apellidos %>">
</div>
<div>
    <label>DNI:</label>
    <input type="text" name="dni" value="<%= profesor.dni %>">
</div>
<div>
    <label>Email:</label>
    <input type="text" name="email" value="<%= profesor.email %>">
</div>