<h2>Alta de profesores</h2>
<<<<<<< HEAD

=======
<form action="/profesores" method="POST">
    <%- include('_form_fields') %>
    <a href="/profesores">Cancelar</a>
    <button type="submit"> Alta </button>
</form>
>>>>>>> 14c1a93d12c20d24dbc71e375d3d297ee57c1526
