<div>
	<label>DNI del profesor:</label>
	<input type="text" name="dni" value=""<%= profesor.dni %>">
</div>
<div>
	<label>Código del curso:</label>
	<input type="text" name="codigoCurso" value=""<%= curso.codigoCurso %>">
</div>