<h2>Alta de Cursos</h2>
<form action="/profesores_cursos" method="POST">
    <%- include('_form_fields') %>
    <a href="/profesores_cursos">Cancelar</a>
    <button type="submit"> Alta </button>
</form>